name: Laravel CI/CD Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 7576
          request_pty: true
          script: |
            cd /home/directin/cicd-test
            git pull origin main
            composer install --no-interaction --prefer-dist
            php artisan key:generate --force
            php artisan config:clear
            php artisan cache:clear
